html
	head
		include header.pug
	body
		.row.mt-5
			.col-md-6.m-auto
				.card.card-body.text-center
					h1 Create an account or login
					a.btn.btn-primary.btn-block.mb-2(href='/register') Register
					a.btn.btn-danger.btn-block(href='/loginpage') Login
